/**
* Import
*/
@import "../helper/animation.scss";
@import "../helper/variables.scss";

/**
* General
*/
header {
    background: #333;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        animation: spin 10s infinite;
    }
}