/**
* Import
*/
@import "./variables.scss";

/**
* Title
*/
.is__main__title {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 1.7em;
    color: #fff;
}

/**
* Img
*/
.is__img {
    width: 15%;
    height: auto;
}