/**
* Import
*/
@import "./variables.scss";

/**
* Title
*/
.is__main__title {
    text-align: center;
    color: #fff;
    font-size: 1.7em;
}
.is__secondary__title {
    font-size: 1em;
    margin-top: 0;
}

/**
* Img
*/
.is__img {
    width: 15%;
    height: auto;
}